<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Feed channel administration</title>
        <link rel="stylesheet" href="../static/adminStyle.css" type="text/css" th:href="@{/adminStyle.css}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h2 th:text="'Details for ' + ${channel.name}"/>
        <form>
            <div class="input-grid">
                <label class="name-label" for="nameInput">Channel's name:</label><input class="name-input" type="text" th:value="${channel.name}" id="nameInput" />
                <label class="url-label" for="urlInput">Channel's url:</label><input class="url-input" type="url" th:value="${channel.url}" id="urlInput" />
            </div>
            <label for="activeCheckbox"><input type="checkbox" th:checked="${channel.active}" id="activeCheckbox"/><span>active</span></label>
            <input type="submit" value="Update"/><input type="reset" value="Cancel" />
        </form>
    </body>
</html>
