<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Feed channel administration</title>
        <!--<link rel="stylesheet" href="../static/style.css" type="text/css" th:href="@{style.css}"/>-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous"/>
    </head>
    <body>
        <a class="btn btn-primary" th:href="@{/}">Home</a>
        <h1>Feed channels</h1>
        <a class="btn btn-primary" th:href="@{/admin/channel/add}">Add new channel</a>
        <table class="table">
            <tr th:each="channel : ${channels}"><td><span th:text="${channel.name}" /></td><td><a th:href="@{/admin/channel/detail(id=${channel.id})}">Edit details</a></td><td><a th:href="@{/admin/channel/delete(id=${channel.id})}">Delete feed channel</a></td></tr>
        </table>
    </body>
</html>
